@import "config";

//@import "index.webfonts";
@import "index.localfonts";

/* modal stuff */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9001; /* omg over 9000! */

	opacity: 0;
	pointer-events: none;

	&:target {
		/* this is what actually shows the modal */
		opacity: 1;
		pointer-events: auto;
	}

	-webkit-transition: opacity 500ms ease-in;
	-moz-transition: opacity 500ms ease-in;
	transition: opacity 500ms ease-in;

	div.mcontainer {
		width: $platformwidth - ($radius * 2);
		background: #000;

		top: ($platformheight) / 3;
		margin: 0px auto;
		position: relative;

		padding: 1em;

		border-width: $width_game_border;
		border-style: solid;
		border-color: $color_game_border;

		$boxshadowcolor: $color_game_border;
		box-shadow: 1px 1px 30px $boxshadowcolor;
		-moz-box-shadow: 1px 1px 30px $boxshadowcolor;
		-webkit-box-shadow: 1px 1px 30px $boxshadowcolor;

		h1 {
			color: $color_game_border;
			margin: 0px auto;

			width: 100%;
			text-align: center;

			font-size: 2em;
			font-weight: bold;
			line-height: 1em;

			margin-bottom: 0.5em;
		}

		.mcontent {
			font-size: 0.8em;

			min-height: 2em;

			#scores {
				width: 100%;
				height: ($platformheight) / 2;
				overflow: auto;

				table {
					width: 100%;
				}
			}

			input.usernameinput {
				font-family: $font_opensans;
				font-weight: bold;

				border-width: 4px;
				border-style: solid;
				border-color: #fff;

				transition: all 0.25s ease-in-out;
				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;

				&:hover, &:focus {
					border-width: 4px;
					border-style: solid;
					border-color: $color_game_border;
				}
			}

			div.error {
				color: lighten(red,25);
				font-weight: bold;
			}

			input.error {
				border-width: 4px !important;
				border-style: dashed !important;
				border-color: red !important;

				transition: all 0.25s ease-in-out;
				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
			}
		}

		.mbuttons {
			position: absolute;
			right: $width_game_border * -1;
			margin: 0;
			margin-top: 1em;
			padding: 0;

			background-color: $color_game_border;
			border-width: $width_game_border;
			border-style: solid;
			border-color: $color_game_border;

			a {			
				@include link-button($height_scoreboard);
			}
		}
	}
}